@font-face {
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('Quicksand-Regular'), url('../fonts/Quicksand-Regular.woff2'), format('woff2'), url('../fonts/Quicksand-Regular.woff'), format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: local('Quicksand-Medium'), url('../fonts/Quicksand-Medium.woff2'), format('woff2'), url('../fonts/Quicksand-Medium.woff'), format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Robot-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('Robot-Regular'), url('../fonts/Robot-Regular.woff2'), format('woff2'), url('../fonts/Robot-Regular.woff'), format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Robot-Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: local('Robot-Bold'), url('../fonts/Robot-Bold.woff2'), format('woff2'), url('../fonts/Robot-Bold.woff'), format('woff');
    font-display: swap;
}